<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder/loja"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ product.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="product.images[0].src" alt="Product Image">
    <ion-card-header>
      <ion-card-subtitle>{{ product.price }}</ion-card-subtitle>
      <ion-card-title>{{ product.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ product.description }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="addToCart()">Agregar al carrito</ion-button>
</ion-content>
