<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ product?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]="product?.images[0].src" alt="Product Image"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{ product?.price }}</ion-card-subtitle>
      <ion-card-title>{{ product?.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ product?.description }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="addToCart()" class="ion-margin-top">Agregar al carrito</ion-button>
</ion-content>