<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Shop</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">Shop</strong>
    <p>Explora los productos disponibles en la tienda.</p>
    <ion-list>
      <ion-item *ngFor="let product of products" (click)="navigateToProductDetails(product.id)">
        <ion-label>{{ product.name }}</ion-label>
        <ion-label slot="end">{{ product.price }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>